#imal {margin-left: 25%
}
#imal {width:45%
}
#imal {border-color: pink;
       border-style: double;
       border-width: 20px;
    } 
.parte01{background-color: pink;
}
.parte02 {background-color: purple;
}
  